$color1: #fff;
$color2: #000;
$color3: #ffe05d;
$color4: #edcc3e;
$color5: #f4f4f4;
$color6: #f2f2f2;
$color7: #e9c737;
$color8: #1e1e1e;
$color9: #ededed;

$textColor1: #fff;
$textColor2: #000;
$textColor3: #979797;
$textColor4: #3d3d3d;
$textColor5: #edcc3e;
$textColor6: #313131;
$textColor7: #3c3c3c;
$textColor8: #3f3f3f;
$textColor9: #ffe05d;
$textColor10: #242424;

$containerLG:1440px;
$containerSD:1200px;
$containerMD:992px;
$containerSM:768px;
$containerXS:100%;
$containerXSS:100%;

// $indent5: 60px;
// $indent6: 10px;
// $indentO1: -$indent1;
// $indentO2: -$indent2;
// $indentO3: -$indent3;
// $indentO4: -$indent4;
// $indentO5: -$indent5;
// $indentO6: -$indent6;

$indentLG1: 30px;
$indentLG2: 15px;

$col1: 100% * 1 / 12;
$col2: 100% * 2 / 12;
$col3: 100% * 3 / 12;
$col4: 100% * 4 / 12;
$col5: 100% * 5 / 12;
$col6: 100% * 6 / 12;
$col7: 100% * 7 / 12;
$col8: 100% * 8 / 12;
$col9: 100% * 9 / 12;
$col10: 100% * 10 / 12;
$col11: 100% * 11 / 12;
$col12: 100% * 12 / 12;

// $rowMarginLG: 0px $indentO3;
// $rowMarginSD: 0px $indentO3;
// $rowMarginMD: 0px $indentO3;
// $rowMarginSM: 0px $indentO3;
// $rowMarginXS: 0px $indentO2;
// $rowMarginXSS: 0px $indentO2;

$maxMediaSD:1439px;
$maxMediaMD:1199px;
$maxMediaSM:991px;
$maxMediaXS:767px;
$maxMediaXSS:479px;

$minMediaSD:1280px;
$minMediaMD:1200px;
$minMediaSM:992px;
$minMediaXS:768px;
$minMediaXSS:480px;

$font1: 'Akzidenz-Grotesk Pro';
$font2: 'Proxima Nova';

$textColor4Hover: $color4;

$borderColor1: $color1;
$borderColor2: $color2;
$borderColor3: $color3;

$btnColor1: $color1;

